#reader_loteria {
    border-radius: 5px 5px 0 0;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    left: 10px;
    bottom: 0;
    background: #c9478c;
    height: auto;
    width: 100%;
    width: calc(100% - 20px);
    z-index: 9999;
}

#reader_loteria:before {
    content: "";
}
#close_new_boleto {
    margin-bottom: 5px;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: #c36;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#scan_again {
    background: #fcc225;
    margin-top: 10px;
    margin-bottom: 10px;
}
#close_new_boleto, #scan_again, #trigger_new_boleto {
    background: #c63c85;
    color: #fff;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
}
#result_premio {
    max-height: 50vh;
    overflow-y: scroll;
    color: #fff;
    text-align: center;
    line-height: 150%;
}
.qrcode-stream-wrapper[data-v-35411cc1] {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}
.qrcode-stream-camera--hidden[data-v-35411cc1] {
    visibility: hidden;
    position: absolute;
}
<style>
.qrcode-stream-camera[data-v-35411cc1] {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}
.qrcode-stream-camera[data-v-35411cc1] {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}
.qrcode-stream-overlay[data-v-35411cc1] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.qrcode-stream-overlay[data-v-35411cc1] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#reader_loteria input[type=file], #reader_loteria_app input[type=file] {
    display: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}

.imgUser {
    display: flex;
    width: 40%;
    margin: 0 auto;
    overflow: hidden;
    justify-content: center;
  }
  
  .imgUser img {
    height: 100%;
    width: 100%;
  }

  #contenedor video{
	max-width: 100%;
	width: 100%;
}
#contenedor{
	max-width: 100%;
	position:relative;
}
canvas{
	max-width: 100%;
}
canvas.drawingBuffer{
	position:absolute;
	top:0;
	left:0;
}

